/* LAYOUT */
body {
  align-items: center;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  display: flex;
  flex-flow: column wrap;
}

.agrafenaDiv {
  display: none;
  flex-flow: column wrap;
}

.alexeiColumn {
  display: flex;
  flex-flow: column wrap;
}

.brothers {
  align-items: flex-end;
  display: none;
  flex-flow: row wrap;
}

@media only screen and (max-width: 600px) {
  .brothers {
    flex-flow: column wrap;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.dmitriColumn {
  display: flex;
  flex-flow: column wrap;
}

.fyodorDiv {
  display: none;
  flex-flow: column wrap;
}

.grigoryDiv {
  display: none;
  flex-flow: column wrap;
}

.ivanColumn {
  display: flex;
  flex-flow: column wrap;
}

.ilyushaDiv {
  display: none;
  flex-flow: column wrap;
}

.inquisitorDiv {
  display: none;
  flex-flow: column wrap;
}

.katerinaDiv {
  display: none;
  flex-flow: column wrap;
}

.liseDiv {
  display: none;
  flex-flow: column wrap;
}

.pavelDiv {
  display: none;
  flex-flow: column wrap;
}

.zossimaDiv {
  display: none;
  flex-flow: column wrap;
}

/* TYPOGRAPHY */
a {
  color: inherit;
  text-decoration: none;
}

.alexeiTitle {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  justify-content: center;
}

.dmitriTitle {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  justify-content: center;
}

.ivanTitle {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  justify-content: center;
}

.tag {
  color: blue;
  cursor: pointer;
}

.names {
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  padding: 1em 1em 0 1em;
}

.title {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 200%;
  padding: 2em 1em 0 1em;
  transform: rotate(20deg);
  transition: 2s linear;
}

.title2 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 200%;
  padding: 0 1em 1em 1em;
}

.synopsis {
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  font-family: 'Roboto', sans-serif;
  padding: 0 30% 5%;
}

@media only screen and (max-width: 800px) {
  .synopsis {
    padding: 0 20% 5%;
  }
}

@media only screen and (max-width: 600px) {
  .synopsis {
    padding: 0 10% 5%;
  }
}

/* IMAGES */
.agrafena {
  align-self: center;
  height: 18em;
}

.alexei {
  height: 16em;
  padding: 0 2em;
}

@media only screen and (max-width: 600px) {
  .alexei {
    padding: 2em 2em 0 2em;
  }
}

.alexei2 {
  height: 16em;
  padding: 0 2em;
}

.dmitri {
  cursor: pointer;
  height: 20em;
  padding: 1em 2em 0 2em;
}

.dmitri2 {
  height: 20em;
  padding: 1em 2em 0 2em;
}

.dmitri3 {
  height: 20em;
  padding: 0 2em;
}

.fyodor {
  align-self: center;
  height: 20em;
}

.grigory {
  align-self: center;
  height: 20em;
}

.ilyusha {
  align-self: center;
  height: 8em;
}

.inquisitor {
  align-self: center;
  height: 20em;
}

.ivan {
  height: 18em;
  padding: 0 2em;
}

@media only screen and (max-width: 600px) {
  .ivan {
    padding: 2em 2em 0 2em;
  }
}

.ivan2 {
  height: 18em;
  padding: 0 2em;
}

.katerina {
  align-self: center;
  height: 20em;
}

.lise {
  align-self: center;
  height: 8em;
}

.pavel {
  align-self: center;
  height: 20em;
}

.zossima {
  align-self: center;
  height: 20em;
}

/* ANIMATION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
